<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Add/Update</a>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
  		<div class="container">
  		
				<div class="example-container mat-elevation-z8">
				
				  <table mat-table [dataSource]="dataSource" matSort>
						  <ng-container matColumnDef="name">
						    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
						    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
						  </ng-container>
						  
						  <ng-container matColumnDef="detail">
						     <th mat-header-cell *matHeaderCellDef mat-sort-header> Details </th>
						     <td mat-cell *matCellDef="let row"> {{row.details}} </td>
						  </ng-container>
						  
						  <ng-container matColumnDef="update">
						      <th mat-header-cell *matHeaderCellDef> Update </th>
						      <td mat-cell *matCellDef="let row">
						        <button mat-icon-button color="accent" (click)="edit(row)">
						            <mat-icon class="mat-18">system_update</mat-icon>
						        </button>
						      </td>
						    </ng-container>
						 
						    <ng-container matColumnDef="delete">
						        <th mat-header-cell *matHeaderCellDef> Delete </th>
						        <td mat-cell *matCellDef="let row">
						          <button mat-icon-button color="warn" (click)="delete(row)">
						              <mat-icon class="mat-18">delete</mat-icon>
						          </button>
						        </td>
						      </ng-container>
						 
						  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>
				  <mat-paginator [pageSizeOptions]="[2, 4, 5, 100]"></mat-paginator>
				</div>
		</div>
	</div>

	<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
	  	<form [formGroup]="dataForm" novalidate (ngSubmit)="editSubmit(dataForm)">
		    <div class="row">
	          <div class="col-md-3">
				  <div class="form-group">
			        <label for="product">Product</label>
			        	<ng-select [items]="products"
									bindLabel="name" placeholder="No product selected"
									bindValue="_id" formControlName="product">
						</ng-select>
			      </div>
		       	  </div>
		          <div class="col-md-8">		
				      <div class="form-group">
				        <label for="course">Sub Product Name</label>
				        <input class="form-control" formControlName="name">
				      </div>
			   	  </div>
			</div>
			<div class="row">
	          <div class="col-md-11">
			      <div class="form-group">
			        <textarea rows="3" class="form-control" formControlName="details" placeholder="Details"></textarea>
			      </div>
			  </div>
		   </div>
<!-- 		   <div class="row"> -->
<!-- 	          <div class="col-md-11"> -->
<!-- 	            <input type="file" name="photo" formControlName="details" ng2FileSelect [uploader]="uploader" /> -->
				
<!-- 				<button type="button" class="btn btn-success btn-s"  -->
<!-- 				  (click)="uploader.uploadAll()"  -->
<!-- 				  [disabled]="!uploader.getNotUploadedItems().length" > -->
<!-- 				      Upload an Image -->
<!-- 				</button> -->
<!-- 	   		  </div> -->
<!-- 		   </div>		 -->
		   <div formArrayName="items">
		   <div *ngFor="let item of dataForm.controls.items.controls; let i=index"> 
		   		<div [formGroupName]="i" class="row">
		   			<div class="col-2"><div (click)="deleteFieldValue(i)" class="input-group-text">Delete</div></div>
				    <div class="col-3">
				      <div class="form-group">
				        <input class="form-control" formControlName="label" placeholder="Item name">
				      </div>
				    </div>
				    <div class="col-6">
				      <div class="form-group">
				        <input class="form-control" formControlName="description" placeholder="Item description">
				      </div>
				   	</div>
		   	    </div>
		   	    </div>
		    </div>
		    <div class="row">
		          <div class="col-md-6">
		          	<button
		          		class="btn btn-success btn-sm" 
		          		type="button" (click)="addItem()" 
		          		style="margin-right:10px">Add More Item</button>
		          </div>
		    </div>
		     <div class="modal-footer">
		    	<button id="data-cancel-btn" type="button" class="btn btn-danger btn-sm" (click)="closeModal()">Cancel</button>
				<button id="data-submit-btn" type="submit" class="btn btn-primary btn-sm">Submit</button>
		     </div>
		</form>
	  </div>
</div>
  