<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- About -->
      <div class="col-lg-3 footer_col">
        <div class="footer_about">
          <div class="logo_container">
            <a href="#">
              <div class="logo_content d-flex flex-row align-items-end justify-content-start">
                <div class="logo_img"><img src="../../assets/images/logo.png" alt=""></div>
                <div class="logo_text">learn</div>
              </div>
            </a>
          </div>
          <div class="footer_about_text">
            <p  style="color: #fff !important">UMIYA INDUSTRIES LLC known as Global Traders.</p>
          </div>
          <div class="footer_social">
            <ul>
              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://umiyaind.com" target="_blank">Umiyaind</a>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
        </div>
      </div>

      <div class="col-lg-3 footer_col">
        <div class="footer_links">
          <div class="footer_title">Quick menu</div>
          <ul class="footer_list">
            <li><a class="nav-link" routerLink="/index">Home</a></li>
            <li><a class="nav-link" routerLink="/aboutus">About Us</a></li>
            <li><a class="nav-link" routerLink="/product">Product</a></li>
            <li><a class="nav-link" routerLink="/contactus">Contact Us</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 footer_col">
        <div class="footer_links">
          <div class="footer_title">Useful Links</div>
          <ul class="footer_list">
            <li><a class="nav-link" routerLink="/index">Home</a></li>
            <li><a class="nav-link" routerLink="/product">Product</a></li>
            <li><a class="nav-link" routerLink="/aboutus">About Us</a></li>
            <li><a class="nav-link" routerLink="/contactus">Contact Us</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 footer_col">
        <div class="footer_contact">
          <div class="footer_title">Contact Us</div>
          <div class="footer_contact_info">
            <div class="footer_contact_item">
              <div class="footer_contact_title">Address:</div>
              <div class="footer_contact_line">UMIYA INDUSTRIES LLC, RANDOLPH,
              NEW JERSEY-07869, USA</div>
            </div>
            <div class="footer_contact_item">
              <div class="footer_contact_title">Phone:</div>
              <div class="footer_contact_line">+1 - 862-803-4216</div>
            </div>
            <div class="footer_contact_item">
              <div class="footer_contact_title">Email:</div>
              <div class="footer_contact_line">info@umiyaind.com</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>