<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<app-head></app-head>

<body>

<div class="super_container">

	<!-- Header -->
	<app-header></app-header>

	<!-- Menu -->
	<app-menu></app-menu>
  
    <div class="milestones">
		<!-- Background image artis https://unsplash.com/@thepootphotographer -->
		<div class="parallax_background parallax-window" data-parallax="scroll" style="background-image: url(../../assets/images/about.jpg);" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
                        <div class="col">

                          <div class="home_content text-center">
							<div class="home_title">Welcome Admin</div>
                          </div>
            
                        </div>

			</div>
		</div>
  </div>
  
    <div class="container">
      <div class="row"><br></div><div class="row"><br></div>
      <div class="row"><br></div><div class="row"><br></div>
      <div class="row"><br></div><div class="row"><br></div>
      <div class="row"><br></div><div class="row"><br></div>
	<div class="row">
     <div class="col">
                <app-admin-header (featureSelected)="onNavigate($event)"></app-admin-header>
          </div>
        </div>
        <div class="row"><br></div><div class="row"><br></div>
	</div>

	<!-- Footer -->
    <app-footer></app-footer>
	
</div>

</body>

</html>


<!-- <!DOCTYPE html>
<html lang="en">

<app-head></app-head>

<body>

  <div id="wrapper">

   	<app-header></app-header>

    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="inner-heading">
              <ul class="breadcrumb">
                <li><a href="index.html">Home</a> <i class="icon-angle-right"></i></li>
                <li><a href="#">Pages</a> <i class="icon-angle-right"></i></li>
                <li class="active">Admin</li>
              </ul>
              <h2>Welcome Admin</h2>
            </div>
          </div>
        </div>
      </div>
    </section>

   <app-admin-header (featureSelected)="onNavigate($event)"></app-admin-header>

   <app-footer></app-footer>
    
  </div>
  <a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>

</body>

</html> -->
