<!DOCTYPE html>
<html lang="en">

<app-head></app-head>

<body>

	<div class="icon-bar">
		<a href="https://www.facebook.com" class="facebook"><i
			class="fa fa-facebook"></i></a> <a href="#" class="twitter"><i
			class="fa fa-twitter"></i></a> <a href="#" class="google"><i
			class="fa fa-google"></i></a> <a href="#" class="linkedin"><i
			class="fa fa-linkedin"></i></a> <a href="#" class="youtube"><i
			class="fa fa-youtube"></i></a>
	</div>

	<div class="milestones">
		<div class="container">
			<div class="row">

				<div class="col">

					<div class="home_content text-center">
						<!--                           	<img src="../../assets/images/slides1.jpg"/> -->
						<!-- 							<div class="home_title">About us</div> -->

						<div id="demo" class="carousel slide" data-ride="carousel">

							<!-- Indicators -->
							<ul class="carousel-indicators">
								<li data-target="#demo" data-slide-to="0" class="active"></li>
								<li data-target="#demo" data-slide-to="1"></li>
								<li data-target="#demo" data-slide-to="2"></li>
							</ul>

							<!-- The slideshow -->
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img src="../../assets/images/slides1.jpg" alt="Los Angeles">
								</div>
								<div class="carousel-item">
									<img src="../../assets/images/slides2.jpg" alt="Chicago">
								</div>
								<div class="carousel-item">
									<img src="../../assets/images/slides3.jpg" alt="New York">
								</div>
							</div>

							<!-- Left and right controls -->
							<a class="carousel-control-prev" href="#demo" data-slide="prev">
								<span class="carousel-control-prev-icon"></span>
							</a> <a class="carousel-control-next" href="#demo" data-slide="next">
								<span class="carousel-control-next-icon"></span>
							</a>

						</div>

					</div>

				</div>

			</div>
		</div>
	</div>

	<div id="wrapper">

		<!-- start header -->
		<app-header></app-header>
		<!-- end header -->

		<app-menu></app-menu>

		<section id="content">
			<div class="container">
				<div class="row">
					<mdb-card class="w-100" borderColor="border-success"> 
						<mdb-card-header><p class="font-weight-bold text-success">Sub Course Details</p></mdb-card-header>
						<mdb-card-body> 
							<mdb-card-text>
								<div *ngFor="let course of subCourseList">
<!-- 								{{course.name}} -->
							
								<div class="container">
								  <ul class="nav nav-tabs" role="tablist">
								    <li class="nav-item">
								      <a class="nav-link active font-weight-bold text-danger" data-toggle="tab" href="#home">{{course.name}}</a>
								    </li>
<!-- 								    <li class="nav-item"> -->
<!-- 								      <a class="nav-link" data-toggle="tab" href="#menu1">Menu 1</a> -->
<!-- 								    </li> -->
<!-- 								    <li class="nav-item"> -->
<!-- 								      <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a> -->
<!-- 								    </li> -->
								  </ul>
								
								  <!-- Tab panes -->
								  <div class="tab-content">
								    <div id="home" class="container tab-pane active">
								      	<div class="row">
<!-- 										  <div class="col-3">image</div> -->
									      <div class="col-5">
									      	<div *ngFor="let items of course.items; let odd=odd; let even=even;"  [ngClass]="{ odd: odd, even: even }">	
										      	<div class="row">
													  <div class="col font-weight-bold text-info" align="right">
													  	{{items.label}}
													  </div>
													  <div class="col">
													  	{{items.description}}
													  </div>
												</div>
											</div>
											<div class="row">&nbsp;
										</div>
									      </div>
									      <div class="col text-justify">{{course.details}}</div>
										</div>
										
										
								    </div>
								  </div>
								</div>
								
								</div>
  
							</mdb-card-text>
							
						</mdb-card-body>
					</mdb-card>

				</div>
			</div>
		</section>

		<div class="row">&nbsp;</div>

		<app-footer></app-footer>

	</div>
	<a href="#" class="scrollup"><i
		class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>

</body>

</html>