table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}
 
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}

/* .example-container { */
/*   display: flex; */
/*   flex-direction: column; */
/*   min-width: 300px; */
/* } */

/* .example-header { */
/*   min-height: 64px; */
/*   padding: 8px 24px 0; */
/* } */

/* .mat-form-field { */
/*   font-size: 14px; */
/*   width: 100%; */
/* } */

/* .mat-table { */
/*   overflow: auto; */
/*   max-height: 500px; */
/* } */


/* table { */
/* 	width: 100%; */
/*     overflow-x: auto; */
/*     overflow-y: hidden; */
/*     min-width: 500px; */
/* } */

/* th.mat-header-cell { */
/*     text-align: left; */
/*     max-width: 300px; */
/* } */

/* .example-container { */
/*   display: flex; */
/*   flex-direction: column; */
/*   min-width: 300px; */
/* } */
/* .example-header { */
/*   min-height: 64px; */
/*   padding: 8px 24px 0; */
/* } */

/* .mat-form-field { */
/*   font-size: 14px; */
/*   width: 100%; */
/* } */

/* .mat-table { */
/*   overflow: auto; */
/*   max-height: 500px; */
/* } */

/* .carousel-item > img { */
/*   width:100%; */
/*   height:300px; */
/* } */

/* .slider_info > img { */
/*   width:100px; */
/*   height:100px; */
/* } */


/* .col-md-4{ */
/*   display: inline-block; */
/*   margin-left:-10px; */
/* } */
/* .col-md-4 img{ */
/*   width:100%; */
/*   height:auto; */
/* } */
  
/* body .carousel-control-prev-icon, */
/* body .carousel-indicators li, */
/* body .carousel-control-next-icon{ */
/*   background-color:#000; */
/* } */

/* span.carousel-control-prev-icon { */
/*  position: relative; */
/*  bottom: 40px; */
/*  right: 40px; */
/* } */

/* span.carousel-control-next-icon { */
/*  position: relative; */
/*  bottom: 40px; */
/* } */
