<!DOCTYPE html>
<html lang="en">

<app-head></app-head>

<body>

<div class="icon-bar">
  <a href="https://www.facebook.com" class="facebook"><i class="fa fa-facebook"></i></a> 
  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
  <a href="#" class="google"><i class="fa fa-google"></i></a> 
  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
</div>

  <div class="milestones">
		<div class="container">
			<div class="row">
						
                        <div class="col">

                          <div class="home_content text-center">
<!--                           	<img src="../../assets/images/slides1.jpg"/> -->
<!-- 							<div class="home_title">About us</div> -->
								
								<div id="demo" class="carousel slide" data-ride="carousel">

									  <!-- Indicators -->
									  <ul class="carousel-indicators">
									    <li data-target="#demo" data-slide-to="0" class="active"></li>
									    <li data-target="#demo" data-slide-to="1"></li>
									    <li data-target="#demo" data-slide-to="2"></li>
									  </ul>
									
									  <!-- The slideshow -->
									  <div class="carousel-inner">
									    <div class="carousel-item active">
									      <img src="../../assets/images/slides1.jpg" alt="Los Angeles">
									    </div>
									    <div class="carousel-item">
									      <img src="../../assets/images/slides2.jpg" alt="Chicago">
									    </div>
									    <div class="carousel-item">
									      <img src="../../assets/images/slides3.jpg" alt="New York">
									    </div>
									  </div>
									
									  <!-- Left and right controls -->
									  <a class="carousel-control-prev" href="#demo" data-slide="prev">
									    <span class="carousel-control-prev-icon"></span>
									  </a>
									  <a class="carousel-control-next" href="#demo" data-slide="next">
									    <span class="carousel-control-next-icon"></span>
									  </a>
									
									</div>

                          </div>
            
                        </div>

			</div>
		</div>
	</div>

  <div id="wrapper">

    <!-- start header -->
   	<app-header></app-header>
    <!-- end header -->

    <app-menu></app-menu>

		<section id="content">
			<div class="container">
				<div class="row">
					<mdb-card class="w-100" borderColor="border-success"> 
						<mdb-card-header>Welcome to  UMIYA INDUSTRIES LLC, USA</mdb-card-header>
						<mdb-card-body> 
							<mdb-card-text>
								UMIYA INDUSTRIES LLC is registered company in New Jersey, USA. 
							</mdb-card-text>
						</mdb-card-body>
					</mdb-card>
					
					<mdb-card class="w-100" borderColor="border-success"> 
						<mdb-card-header>Purpose of UMIYA INDUSTRIES LLC, USA</mdb-card-header>
						<mdb-card-body> 
							<mdb-card-text>
								Trading of Plastic (LDPE, HDPE Granule) and Paper products.<br />
							</mdb-card-text>
						</mdb-card-body>
					</mdb-card>
					
					<mdb-card class="w-100" borderColor="border-success"> 
						<mdb-card-header>Materials Sell/Buy</mdb-card-header>
						<mdb-card-body> 
							<mdb-card-text>
								We buy and sell LDPE Granule, HDPE Granule, OCC #11 and #12 Paper.
							</mdb-card-text>
						</mdb-card-body>
					</mdb-card>
					
					<mdb-card class="w-100" borderColor="border-success"> 
						<mdb-card-header>Business Hourse</mdb-card-header>
						<mdb-card-body> 
							<mdb-card-text>
								Our normal business hours are 8 AM to 4 PM, Monday through Friday.
							</mdb-card-text>
						</mdb-card-body>
					</mdb-card>
					
					
				</div>
			</div>
		</section>
		
		<div class="row">
			&nbsp;
		</div>

	<app-footer></app-footer>
    
  </div>
  <a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>


</body>

</html>


<!-- <mdb-card class="w-100" borderColor="border-success" > -->
<!-- 		  <mdb-card-header>Header</mdb-card-header> -->
<!-- 		  <mdb-card-body> -->
<!-- 		    <mdb-card-title> -->
<!-- 		      <h5>Success Panel title</h5> -->
<!-- 		    </mdb-card-title> -->
<!-- 		    <mdb-card-text>Some quick example text to build on the panel title and make up the bulk of the -->
<!-- 		      panel's content.</mdb-card-text> -->
<!-- 		  </mdb-card-body> -->
<!-- 		</mdb-card> -->