<div class="modal-header">
  <h4 class="modal-title">Log In</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]='loginForm' #loginForm1>
	<div class="modal-body">
	  <div class="container">
		<div *ngIf="!isValid" class="alert alert-danger" role="alert">
			{{ errorMessage }}
		</div>	
	    <div class="form-group">
	      <label for="username">Username</label>
	      <input id="username" type="text" class="form-control" />
	    </div>
	    <div class="form-group">
	      <label for="password">Password</label>
	      <input id="password" type="text" class="form-control">
	    </div>
	  </div>
	</div>
	<div class="modal-footer">
	  <button id="student-cancel-btn" type="submit" class="btn btn-danger btn-sm" 
    		  (click)="close()">Cancel</button>
	  <button id="student-submit-btn" type="button" 
	    class="btn btn-primary btn-sm" (click)="onSignin(loginForm1)">Login</button>
	    
	</div>
</form>